$brand-color:         #adc0d8;
$highlight:           lighten($brand-color, 35%);
$text-color:          #282d49;
$muted-text-color:    #3c5283;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;
$font-family-header:  "Audrey Bold", "Times New Roman", serif;
$font-family-subhead: "Brandon Grotesque", Garamond, "Times New Roman", serif;
$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
