---
layout: default
---
<a href="/">
  <img src="/assets/images/Reverses-Dark.png" alt="re:verses" style="width:50%">
</a>
  <header class="site-masthead">
    {% include menu.html %}

<main class="home" id="main" role="main" aria-label="Interviews">

  <h3 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
    Archive
    {% endif %}
  </h3>

  <ul class="post-list">
    {% for post in site.posts %}
      {% include post-list-item.html %}
    {% endfor %}
  </ul>

</main>
